@inject NavigationManager Navigation
@inject ICustomizationSettingsService CustomizationSettingsService

<MudDrawer @bind-Open="@Open" Anchor="@Anchor" Elevation="1" Variant="@DrawerVariant.Temporary"
           OverlayAutoClose="@OverlayAutoClose">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">@Title</MudText>
    </MudDrawerHeader>
    <div class="px-4">
        <MudButtonGroup Color="Color.Primary" Class="mb-1" Variant="Variant.Filled">
            <MudButton>@_buttonText</MudButton>
            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                <MudMenuItem OnClick="() => SetAnchor(Anchor.Start)">Start</MudMenuItem>
                <MudMenuItem OnClick="() => SetAnchor(Anchor.End)">End</MudMenuItem>
                <MudMenuItem OnClick="() => SetAnchor(Anchor.Top)">Top</MudMenuItem>
                <MudMenuItem OnClick="() => SetAnchor(Anchor.Bottom)">Bottom</MudMenuItem>
            </MudMenu>
        </MudButtonGroup>
        <MudDivider/>
        @if (CurrentPageName.Equals(PagesNames.POS))
        {
            <Section3SettingsComponent/>
            <MudDivider/>
            <FinanceSettingsComponent/>
        }

    </div>

    <MudNavMenu>
        <MudNavLink OnClick="@CloseDrawer">Close Drawer</MudNavLink>
    </MudNavMenu>
    <p>Current Page: @CurrentPageName</p>
    @ChildContent
</MudDrawer>



